<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title th:text="${nickname}"></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.page.js"></script>
</head>

<body>

<div class="myheader" th:include="header.html ::myheader"></div>
<div class="container-fluid content" style="margin: 1% 3%">
    <div class="row">
        <div class="userinfo col-md-4 col-xs-12">
            <img id="head" th:src="'../img/userHeader/'+${headimg}+'.jpg'">
            <input type="hidden" id="headerFileName" value="">
            <input type="hidden" id="uid" th:value="${uid}">
            <div id="uploadHeader">
            </div>
            <div id="nickname">
            <h1 th:text="${nickname}">nickname</h1>
            </div>
            <div id="bio">
            <p th:text="${bio}">bio</p>
            </div>
            <div th:if="${login}" id="loginuser">
                <button type="button" class="btn btn-primary" id="update" onclick="update()">修改资料</button>
            </div>
        </div>


        <div class="details col-md-8 col-xs-12">
            <div class="primary col-md-12">
                <h2><span class="label label-primary">Themes published</span>
                </h2>
            </div>

            <div class="boundary">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div class="col-md-11" id="themes">
            </div>

            <div class="page col-md-12" style="text-align: center">
                <ul class="pagination" id="paginator"></ul>
            </div>

        </div>
    </div>
</div>
</div>

</body>

<style>
    .themes .media {
        padding: 1.5rem 1rem;
        margin: 3% 2%;
    }

    img#head {
        height: 35vh;
        width: 35vh;
    }

    .container-fluid.content {
        border: 1px solid rgb(204, 203, 203);
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1%;
        margin-bottom: 3%;
        background-color: rgb(255, 255, 255);
    }

    body {
        background: radial-gradient(circle, rgb(117, 117, 117) 5%, rgb(189, 192, 192) 70%, rgb(255, 255, 255))
    }

    .userinfo {
        padding: 3%;
    }
    li span.current {
        display: inline-block;
        background-color: #ddd;
    }
</style>
<script>
    $(init())

    function init(){
        getThemes(1);
        var headerImg = document.getElementById("head").getAttribute("src").split("img/")[1].split(".jpg")[0];
        document.getElementById("headerFileName").value = headerImg;
    }

    function getThemes(page) {
        $.ajax({
            type: "GET",
            url: "/themes/" + getUid() + "?page=" + page,
            success: function (result) {
                var themes = eval(JSON.parse(result).data.list);
                cleanThemeDiv();
                for (var i = 0; i < themes.length; i++) {
                    addThemeDiv(themes[i]);
                }
                var themeNum = JSON.parse(result).data.num;
                if (themeNum > 5) {
                    addPaginator(themeNum, page);
                }
            },
            error: function () {
                alert("客户端出错")
            }
        })

    }

    function getUid() {
        var uid=document.getElementById('uid');
        var query = window.location.href;
        var vars = query.split("/");
        return uid===null?vars[vars.length - 1].split("?")[0]:uid.value;
    }

    function cleanThemeDiv() {
        document.getElementById("themes").innerHTML = "";
    }

    function addThemeDiv(theme) {
        var divChildTemplate = document.createElement("div");
        divChildTemplate.className = "media alert alert-info";
        divChildTemplate.setAttribute("role", "alert");
        var title = document.createElement("h3");
        title.className = "media-heading";
        title.innerText = theme.title;
        var detail = document.createElement("p");
        detail.innerText = theme.description;
        var a = document.createElement("a");
        a.setAttribute("href", "/themes/" + theme.id);
        a.appendChild(title);
        a.appendChild(detail);
        divChildTemplate.appendChild(a);
        document.getElementById('themes').appendChild(divChildTemplate);
    }

    function addPaginator(num, currentPage) {
        var pageNum = parseInt(num / 5) + 1;
        $("#paginator").createPage({
            pageCount: pageNum,
            current: currentPage,
            backFn: function (p) {
                getThemes(p);
            }
        });

    }

    function headerUpload() {
        var formData = new FormData();
        var name = document.getElementById("uploadHeader").getElementsByTagName("input")[0].value;
        formData.append("file", document.getElementById("uploadHeader").getElementsByTagName("input")[0].files[0]);
        formData.append("name", name);
        $.ajax({
            url: "/user/header_img",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function(result) {
                console.log(result);
                var status = JSON.parse(result).status;
                if (status === "success") {
                    document.getElementById("headerFileName").value = JSON.parse(result).data;
                } else {
                    alert("上传失败");
                }
            },
            error: function() {
                alert("客户端错误");
            }
        })
    }

    function update() {
        document.getElementById("loginuser").innerHTML = '<button type="button" class="btn btn-primary" id="submit" onclick="submit()">确认修改</button><button type="button" class="btn btn-primary" id="cancle" onclick="cancle()">取消修改</button>';
        var nickname = document.getElementById("nickname").getElementsByTagName("h1")[0].innerText;
        var bio = document.getElementById("bio").getElementsByTagName("p")[0].innerText;
        document.getElementById("nickname").innerHTML = '<input type="text" class="form-control" value="' + nickname + '" placeholder="' + nickname + '">';
        document.getElementById("bio").innerHTML = '<textarea class="form-control" rows="3" value="' + bio + '" placeholder="' + bio + '">' + bio + '</textarea>';
        document.getElementById("uploadHeader").innerHTML = '<input type="file" id="headUploader"><button type="button" class="btn btn-primary" onclick="headerUpload()">上传头像</button>';
    }

    function submit() {
        var nickname = document.getElementById("nickname").getElementsByTagName("input")[0].value;
        var bio = document.getElementById("bio").getElementsByTagName("textarea")[0].value;
        var headerImg = document.getElementById("headerFileName").value;
        var json = {
            "nickname": nickname,
            "bio": bio,
            "headerImg": headerImg
        };
        var data = JSON.stringify(json);
        $.ajax({
            url: "/user",
            type: "PUT",
            data: data,
            contentType: "application/json;charset=UTF-8",
            success: function(result) {
                var status = JSON.parse(result).status;
                if (status === "success") {
                    location.reload();
                } else {
                    alert("修改失败");
                }
            },
            error: function() {
                alert("客户端错误");
            }
        })
        console.log(data);
    }

    function cancle() {
        document.getElementById("loginuser").innerHTML = '<button type="button" class="btn btn-primary" id="update" onclick="update()">修改资料</button>';
        var nickname = document.getElementById("nickname").getElementsByTagName("input")[0].getAttribute("placeholder");
        var bio = document.getElementById("bio").getElementsByTagName("textarea")[0].getAttribute("placeholder");
        document.getElementById("nickname").innerHTML = '<h1>' + nickname + '</h1>';
        document.getElementById("bio").innerHTML = '<p>' + bio + '</p>';
        document.getElementById("uploadHeader").innerHTML = "";
    }
</script>
</html>